<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="b4a.example"
	android:versionCode="1"
	android:versionName="AndroidCam"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="26"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission
	   android:name="android.permission.WRITE_EXTERNAL_STORAGE"
	   android:maxSdkVersion="18" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application
		android:icon="@drawable/icon"
		android:label="SensorVision Agrocam"
		android:theme="@style/DarkTheme"
		android:networkSecurityConfig="@xml/network_security_config">
		
		<provider
		  android:name="android.support.v4.content.FileProvider"
		  android:authorities="b4a.example.provider"
		  android:exported="false"
		  android:grantUriPermissions="true">
		  <meta-data
		     android:name="android.support.FILE_PROVIDER_PATHS"
		     android:resource="@xml/provider_paths"/>
		  </provider>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="SensorVision Agrocam"
			android:screenOrientation="portrait">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".connection"
			android:label="SensorVision Agrocam"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".maps"
			android:label="SensorVision Agrocam"
			android:screenOrientation="portrait">
		</activity>
	</application>
</manifest>